<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>renDev 화상채팅 서비스</title>

    <style>
        .AllWrap{
        /* border: 1px solid black; */
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        }

        .ViewWrap{
        border: 1px solid black;
        width: 894px;
        height: 601px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 20px;
        }

        .SelfViewWrap{
        border: 1px solid black;
        width: 301px;
        height: 188px;
        border-radius: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0px 540px 51px 0px;    
        }

        .ChatWrap{
        border: 1px solid black;
        width: 282px;
        height:758px;
        margin: 20px 0px 42px 24px;
        border-radius: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        }

        .ChatTop{
        background-color: #303032;
        width: 282px;
        height: 48px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        }

        .ChatTitle{
        font-size: 20px;
        font-weight: 700;
        color: white;
        margin: 12px 0px 12px 17px;
        }

        .ChatInputWrap{
        width: 268px;
        height: 48px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 14px;
        border-radius: 10px;
        border: 1px solid black;
        }

        .ChatInput{
        border: none;
        outline: none;
        padding: 10px;
        width: 170px;
        }

        .SendButton{
        border: none;
        outline: none;
        padding: 6px 12px 6px 12px;
        border-radius: 10px;
        background-color: #303032;
        color: white;
        margin: 8px;
        cursor: pointer;
        }

        .ChatText{
        border: 1px solid black;
        width: 270px;
        height: 640px;
        overflow: scroll;
        }

    </style>
</head>
<body>
    <div>
        <div class="AllWrap">
            <div class="ViewWrap">
                <div class="SelfViewWrap"></div>
            </div>
            <div class="ChatWrap">
                <div class="ChatTop">
                    <span class="ChatTitle">채팅</span>
                </div>
                <div class="ChatText">

                </div>
                <div class="ChatInputWrap">
                    <input class="ChatInput"></input>
                    <button class="SendButton">보내기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>