doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title renDev
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1 renDev demo: 이어폰/헤드셋 사용을 부탁드립니다.
        main
            <!-- div#welcome : 방에 입장하기 전, 면접코드를 입력하는 부분입니다 --!>
            div#welcome
                form
                    input(placeholder="인터뷰 코드" required, type = "text")
                    button 인터뷰 입장

            <!-- div#call : 방에 입장했을 때 유저들의 영상을 띄우는 부분들입니다 --!>
            div#call 
                div#myStream
                    video#myFace(autoplay,muted,playsinline, width="400", height="400")     
                    button#mute 내 마이크 끄기
                    button#camera 내 카메라 끄기
                    select#cameras
                video#peerFace(autoplay,playsinline, width="400", height="400")   
            <!-- div#call : 방에 입장했을 때 채팅을 띄울 부분들입니다 --!>
            div#chat
                ul 
                form#msg
                    input(placeholder="메시지를 입력해주세요", required, type="text")
                    button Send
                    button#finish 인터뷰 종료
       
        script(src = "/socket.io/socket.io.js")    
        script(src = "/public/js/app.js")