<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>renDev Interview</title>
    <link rel="stylesheet" href="public/js/test.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">    
    <link rel="icon" href="../public/js/image/favicon.ico">    

</head>

<script>
function move(current, event) {
    const nextFocus = current.id !== "CodeInput6" ? "CodeInput" + (parseInt(current.id.split("CodeInput")[1])+1) : "CodeInput6"        
    document.getElementById(nextFocus).focus();
}
</script>

<body>
    <div class="NaviBar">
        <div class="LogoDivWrap">
         <div class="LogoWrap"><a href="https://rendev99.com"><img src="/public/js/image/Logo.svg"></a></div> 
        </div>
    </div>
    <div id="welcome">
        <form>
            <header>
                <div class="GuideTextWrap">
                    <span id="GuideText">이메일 또는 마이페이지에서 인터뷰 코드를 확인해주세요.</span>
                    <span id="GuideText">이어폰 또는 헤드셋을 사용하시면 좀 더 쾌적합니다.</span>
                    <br>
                    <span id="GuideText">renDev의 인터뷰 페이지는 1920x1080 해상도에 최적화되어 있습니다.</span>

                </div>
            </header>
            <div class="InputWrap">              
                <input onchange="handleChange()" id="CodeInput1" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
                <hr class="InputBar" />
                <input onchange="handleChange()" id="CodeInput2" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
                <hr class="InputBar" />
                <input onchange="handleChange()" id="CodeInput3" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
                <hr class="InputWhiteBar" />
                <input onchange="handleChange()" id="CodeInput4" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
                <hr class="InputBar" />
                <input onchange="handleChange()" id="CodeInput5" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
                <hr class="InputBar" />
                <input onchange="handleChange()" id="CodeInput6" maxlength="1" required class="InputCode" onkeyup="move(this, event)" />
            </div>
            <div>
                <div class="ButtonWrap">
                    <button class="EnterButton">인터뷰 입장</button>
                </div>
        </form>
    </div>

    <div id="call">
        <div class="AllChatWrap"> 
        <div class="ChatWrap">
            <div class="FaceWrap">
                <div>
                    <video id="peerFace" autoplay playsinline></video>
                    <video id="myFace" autoplay muted playsinline></video>
                </div>
                <div class="CameraButtonWrap">
                    <div>
                    <select id="cameras"></select>
                    
                        <button id="mute"><img src = "/public/js/image/micOn.svg"></button>
                        <button id="camera"><img src = "/public/js/image/camon.svg"></button>
                    </div>
                </div>
            </div>            

            <div id="chat">
                <div class="ChatTop">
                    <span class="NickText">renDev Interview</span>
                    <!-- <button id="finish">인터뷰 완료</button> -->
                </div>
                <div id="chatLog">                                      
                </div>
                <form id="msg">    
                    <div class="ChatInput">
                        <input class="InputText" required type="text">
                        <button class="SendMSGbtn">Send</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
<script>
    const codeInput1 = document.querySelector('input[id="CodeInput1"]')    
    codeInput1.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
    const codeInput2 = document.querySelector('input[id="CodeInput2"]')    
    codeInput2.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
    const codeInput3 = document.querySelector('input[id="CodeInput3"]')    
    codeInput3.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
    const codeInput4 = document.querySelector('input[id="CodeInput4"]')    
    codeInput4.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
    const codeInput5 = document.querySelector('input[id="CodeInput5"]')    
    codeInput5.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
    const codeInput6 = document.querySelector('input[id="CodeInput6"]')    
    codeInput6.addEventListener('focus', (event) => {           
    event.target.value = null;
    })
</script>    


    
</body>
</html>